@using AYZ8R9_SOF_202231.Model
@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

@{
    ViewData["Title"] = "Sprint Kanban";
}

@model IEnumerable<UserStory>

<a style="margin-bottom:1%" class="btn btn-secondary" role="button" href="/Story/StoriesToSprint">Manage stories</a>

<div style="margin-bottom:10%">
    <div class="columnStyle">
        <h4 class="topRowStyle">Sprint Backlog</h4>
        <hr />
        @foreach (var item in Model.Where(x => x.Status == UserStoryStatus.Backlog).OrderBy(x=>x.UserStoryPriority))
        {
            <div class="card storyTableCard">
                <div class="card-body">
                    <p>@item.UserStoryName <a class="fa-solid fa-trash usa" href="/story/removefromsprint?id=@item.UserStoryId"></a></p>
                    <button type="button" class="btn btn-outline-secondary backlogButton" onclick="myFunction('@item.UserStoryId.Substring(0,5)')">Description</button>
                    <div class="@item.UserStoryId.Substring(0,5)" style="display:none;text-align:center;">
                        <p>@item.UserStoryDescription</p>
                    </div>
                    <p class="card-text-story">@item.UserStoryPriority</p>
                    <form class="form-group" method="post" action="/story/status">
                        <select class="form-control" name="status">
                            @foreach (var days in Enum.GetValues(typeof(UserStoryStatus)))
                            {
                                <option value="@days">@days</option>
                            }
                        </select>
                        <input type="hidden" name="userstoryid" value="@item.UserStoryId" />
                        <input type="hidden" name="userstoryname" value="@item.UserStoryName" />
                        <input type="hidden" name="userstorydescription" value="@item.UserStoryDescription" />
                        <input type="hidden" name="userstorypriority" value="@item.UserStoryPriority" />
                        <input class="btn btn-light story-button" type="submit" value="Add to status" />
                    </form>
                </div>
                
            </div>

        }
    </div>

    <div class="columnStyle">
        <h4 class="topRowStyle">Sprint Backlog</h4>
        <hr />
        @foreach (var item in Model.Where(x => x.Status == UserStoryStatus.ToDo).OrderBy(x => x.UserStoryPriority))
        {
            <div class="card storyTableCard">
                <div class="card-body">
                    <p>@item.UserStoryName <a class="fa-solid fa-trash usa" href="/story/removefromsprint?id=@item.UserStoryId"></a></p>
                    <button type="button" class="btn btn-outline-secondary backlogButton" onclick="myFunction('@item.UserStoryId.Substring(0,5)')">Description</button>
                    <div class="@item.UserStoryId.Substring(0,5)" style="display:none;text-align:center">
                        <p>@item.UserStoryDescription</p>
                    </div>
                    <p class="card-text-story">@item.UserStoryPriority</p>
                    <form class="form-group" method="post" action="/story/status">
                        <select class="form-control" name="status">
                            @foreach (var days in Enum.GetValues(typeof(UserStoryStatus)))
                            {
                                <option value="@days">@days</option>
                            }
                        </select>
                        <input type="hidden" name="userstoryid" value="@item.UserStoryId" />
                        <input type="hidden" name="userstoryname" value="@item.UserStoryName" />
                        <input type="hidden" name="userstorydescription" value="@item.UserStoryDescription" />
                        <input type="hidden" name="userstorypriority" value="@item.UserStoryPriority" />
                        <input class="btn btn-light story-button" type="submit" value="Add to status" />
                    </form>
                </div>

            </div>

        }
    </div>

    <div class="columnStyle">
        <h4 class="topRowStyle">Sprint Backlog</h4>
        <hr />
        @foreach (var item in Model.Where(x => x.Status == UserStoryStatus.In_Progress).OrderBy(x => x.UserStoryPriority))
        {
            <div class="card storyTableCard">
                <div class="card-body">
                    <p>@item.UserStoryName <a class="fa-solid fa-trash usa" href="/story/removefromsprint?id=@item.UserStoryId"></a></p>
                    <button type="button" class="btn btn-outline-secondary backlogButton" onclick="myFunction('@item.UserStoryId.Substring(0,5)')">Description</button>
                    <div class="@item.UserStoryId.Substring(0,5)" style="display:none;text-align:center">
                        <p>@item.UserStoryDescription</p>
                    </div>
                    <p class="card-text-story">@item.UserStoryPriority</p>
                    <form class="form-group" method="post" action="/story/status">
                        <select class="form-control" name="status">
                            @foreach (var days in Enum.GetValues(typeof(UserStoryStatus)))
                            {
                                <option value="@days">@days</option>
                            }
                        </select>
                        <input type="hidden" name="userstoryid" value="@item.UserStoryId" />
                        <input type="hidden" name="userstoryname" value="@item.UserStoryName" />
                        <input type="hidden" name="userstorydescription" value="@item.UserStoryDescription" />
                        <input type="hidden" name="userstorypriority" value="@item.UserStoryPriority" />
                        <input class="btn btn-light story-button" type="submit" value="Add to status" />
                    </form>
                </div>

            </div>

        }
    </div>

    <div class="columnStyle">
        <h4 class="topRowStyle">Sprint Backlog</h4>
        <hr />
        @foreach (var item in Model.Where(x => x.Status == UserStoryStatus.Verify).OrderBy(x => x.UserStoryPriority))
        {
            <div class="card storyTableCard">
                <div class="card-body">
                    <p>@item.UserStoryName <a class="fa-solid fa-trash usa" href="/story/removefromsprint?id=@item.UserStoryId"></a></p>
                    <button type="button" class="btn btn-outline-secondary backlogButton" onclick="myFunction('@item.UserStoryId.Substring(0,5)')">Description</button>
                    <div class="@item.UserStoryId.Substring(0,5)" style="display:none;text-align:center">
                        <p>@item.UserStoryDescription</p>
                    </div>
                    <p class="card-text-story">@item.UserStoryPriority</p>
                    <form class="form-group" method="post" action="/story/status">
                        <select class="form-control" name="status">
                            @foreach (var days in Enum.GetValues(typeof(UserStoryStatus)))
                            {
                                <option value="@days">@days</option>
                            }
                        </select>
                        <input type="hidden" name="userstoryid" value="@item.UserStoryId" />
                        <input type="hidden" name="userstoryname" value="@item.UserStoryName" />
                        <input type="hidden" name="userstorydescription" value="@item.UserStoryDescription" />
                        <input type="hidden" name="userstorypriority" value="@item.UserStoryPriority" />
                        <input class="btn btn-light story-button" type="submit" value="Add to status" />
                    </form>
                </div>

            </div>

        }
    </div>

    <div class="columnStyle">
        <h4 class="topRowStyle">Sprint Backlog</h4>
        <hr />
        @foreach (var item in Model.Where(x => x.Status == UserStoryStatus.Done).OrderBy(x => x.UserStoryPriority))
        {
            <div class="card storyTableCard">
                <div class="card-body">
                    <p>@item.UserStoryName <a class="fa-solid fa-trash usa" href="/story/removefromsprint?id=@item.UserStoryId"></a></p>
                    <button type="button" class="btn btn-outline-secondary backlogButton" onclick="myFunction('@item.UserStoryId.Substring(0,5)')">Description</button>
                    <div class="@item.UserStoryId.Substring(0,5)" style="display:none;text-align:center">
                        <p>@item.UserStoryDescription</p>
                    </div>
                    <p class="card-text-story">@item.UserStoryPriority</p>
                    <form class="form-group" method="post" action="/story/status">
                        <select class="form-control" name="status">
                            @foreach (var days in Enum.GetValues(typeof(UserStoryStatus)))
                            {
                                <option value="@days">@days</option>
                            }
                        </select>
                        <input type="hidden" name="userstoryid" value="@item.UserStoryId" />
                        <input type="hidden" name="userstoryname" value="@item.UserStoryName" />
                        <input type="hidden" name="userstorydescription" value="@item.UserStoryDescription" />
                        <input type="hidden" name="userstorypriority" value="@item.UserStoryPriority" />
                        <input class="btn btn-light story-button" type="submit" value="Add to status" />
                    </form>
                </div>

            </div>

        }
    </div>
</div>


<script>

    function myFunction(cl) {
        var x = document.getElementsByClassName(cl);
        for (var i = 0; i < x.length; i++) {
            if (x[i].style.display == "none") {
                x[i].style.display = "block";
            } else {
                x[i].style.display = "none";
            }
        }
    }
</script>



